<div class="navbarContainer">
    <div class="navbarContentContainer">
        <div style="display: flex; align-items: center;">
            <img src="../../assets/images/testLogo_blue.png" style="max-height: 4vh;">
            <div class="navbarTextSayingContainer">
                <div class="name">
                    <div>Markus</div>
                    <div>Arbeiter</div>
                </div>
            </div>
        </div>
        <div class="navbarLinkContainer">
            <div class="navbarLink">
                Skills
            </div>
            <div class="navbarLink">
                Portfolio
            </div>
            <div class="navbarLink">
                About me
            </div>
            <div class="navbarLink">
                Contact
            </div>
            <div class="navbarLink">
                Imprint
            </div>
        </div>
    </div>
</div>