.navbarContainer{
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #dee2e6;
    background-color: var(--light-white);
    display: flex;


}

.navbarContentContainer{
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: var(--color-blue);
    justify-content: space-between;
    width: 90%;
    margin-right: auto; 
    margin-left: auto; 
}

.navbarTextSayingContainer{
    display: flex; 
    margin-left: 10px;
}

.navbarContent{
    width: 80%;
}

.navbarLinkContainer{
    width: 22%;
    display: flex; 
    justify-content: space-around;
}

.navbarLink{
    &:hover{
        transition-duration: 125ms;
        color: var(--dark-blue);
        cursor: pointer;

    }
}