<div class="skillContainer">
    <div class="skillHeading">Skills</div>
    <div class="skillcontainer">
        <carousel>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/html.png">
                        <span>HTML</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/css.png">
                        <span>CSS</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/javascript.png">
                        <span>Javascript</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/angular.png">
                        <span>Angular</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/mobiloptimization.png">
                        <span>Mobiloptimierung</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/api.png">
                        <span>(Rest) Api</span>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/django.png">
                        <span>Django</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/python.png">
                        <span>Python</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/git.png">
                        <span>GIT</span>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="oneSkillContainer">
                        <img src="../../assets/images/Skill Images/scrum.png">
                        <span>SCRUM</span>
                    </div>
                </div>
        </carousel>
    </div>
</div>